ul {
    padding: 0;
    margin: 0;
  }

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  display: block;
}

body {
  position: relative;
}

#skills-h3 {
  color: #f5ae23;
  display: none;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4a4a4a;
}

.projects {
  background: url("../images/projects-hero-1920.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 600px;
}

#topContacts {
  position: relative;
}

/******/

.content-box {
  padding-top: 70px;
}

.flex-row {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

/*--- Navigation Menu ---*/

.navbar-custom {
  transition: padding ease-in-out 500ms, background-color ease-in-out 500ms;
  padding: 0.5em 0;
}

.nav-button {
  background-color: transparent;
  border: none;
  outline: 0;
  color: #fff;
  opacity: 0.6;
  padding: 0.25em 0.75em;
  display: none;
}

.nav-menu {
  margin: 0;
}

.menu-wrap {
  flex: 1;
  text-align: center;
}

.menu-item,
.menu-item:hover,
.menu-item:focus,
.menu-item-scroll {
  color: #fff;
  font: 1.25em/1.2 Arial;
  padding: 0.75em 1em;
  font-variant: small-caps;
}

.menu-item {
  opacity: 0.6;
}

.menu-item:hover,
.menu-item:focus,
.menu-item:active {
  opacity: 1;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.navbar-scroll {
  transition: padding ease-in-out 500ms, background-color ease-in-out 500ms;
  box-shadow: 0 2px 1px rgba(100,100,100,0.4);
  background-color: rgba(0,0,0,0.9);
}

.navbar-scroll-grow {
  padding: 0.8em 0;
}

.menu-item-scroll:hover,
.menu-item-scroll:focus,
.button-press {
  border: none;
  opacity: 1;
}

/*--- Header with contact information ---*/

.header {
  background: url("../images/header-hero-1920.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  color: #fff;
  font: bold 5em/1.3 "Playfair Display", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  text-align: center;
}

.role {
  color: #fff;
  font: italic 1.7em/1.1 'Open Sans', 'Droid Sans', Arial, sans-serif;
  text-transform: lowercase;
  text-align: center;
  margin-bottom: 3em;
}

.contact-list {
  display: none;
  margin-bottom: 1em;
}

.contact-text {
  color: #fff;
  font: 1.2em/1.2 'Open Sans', 'Droid Sans', Arial, sans-serif;
}

.contact-icons {
  vertical-align: middle;
}

.background-mobile {
  color: #00c9ca;
}

.background-email {
  color: #39b54a;
}

.background-location {
  color: #db4437;
}

.background-linkedin {
  color: #005987;
}

.icon-github {
  color: #43c1fb;
}

.icon-mobile,
.icon-email,
.icon-location,
.icon-linkedin,
.background-github {
  color: #fff;
}

.icon-mobile {
  text-shadow: 2px 2px #028889;
}

.icon-email {
  text-shadow: 2px 2px #196d24;
}

.icon-location {
  text-shadow: 2px 2px #81160d;
}

.icon-linkedin {
  text-shadow: 2px 2px #01435e;
}

.biopic {
  width: 9em;
  display: none;
}

.welcome-message {
  font: italic 1.3em/1.5 Georgia, serif;
  color: #f3f3f3;
}

.scroll-button {
  padding: 4em 0;
  text-align: center;
}

.icon-scroll {
  color: #fff;
  opacity: 0.6;
}

.icon-scroll:hover {
  opacity: 1;
  color: #fff;
}




.workExperience {
  padding-bottom: 5em;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}


img {
  padding: 0.5em;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}

/*-- Added Media Queries --*/

@media screen and (max-width: 650px) {
    .nav-button {
        /* Show hamburger button */
        display: block;
    }

    .nav-menu {
      display: none;
    }

    .menu-wrap{
      width: 100%;
      text-align: left;
    }

    .menu-item:hover,
    .menu-item:focus {
      border: 0;
      opacity: 1;
    }
}

@media only screen and (max-width: 460px) {
  .name {
    font-size: 2.1em;
  }

  .role {
    font-size: 1.2em;
  }

  .navbar-scroll {
    padding: 0;
  }

  .contact-icons {
    font-size: 2em !important;
  }

  .contact-text {
    font-size: 1em;
  }

  .scroll-button {
    display: none;
  }

}
